@font-face {
    font-family: 'Schoolbell';
    src: url(/assets/font/combo1/woff/Schoolbell-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family:'Yeseva One';
    src: url(/assets/font/combo1/woff/YesevaOne-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(/assets/font/combo1/woff/JosefinSans-Regular.woff);
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body{
    background-color: #fff;
    background-image: url(/assets/img/undraw_project_complete_lwss.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 400px;
}

.cardcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.card{
    width: 500px;
    background-color: #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.cardtext{
    padding: 16px;
}

.cardtext h3{
    font-size: 26px;
    font-family: 'Yeseva One';
    margin-bottom: 8px;
}

.cardtext p{
    color: #303030;
    font-size: 15px;
    font-family: 'Josefin Sans';
}

.cardtext .btn{
display: inline-block;
padding: 8px 16px;
background-color: #ffcc33;
text-decoration: none;
border-radius: 4px;
margin-top: 16px;
color: black;
}

.section-1{
display: flex;
flex-direction: column;
background-color: #ffcc33; 
padding: 68px 15px 68px 15px;
width: 100%;
justify-content: center;
color: black;  
   font-family: 'Josefin Sans'; 
   text-align: center;
   font-size: 18px;
}


.section-1 h1{
    font-family: 'Yeseva One';
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 44px;
}

footer{
    background-color: #303030;
    padding: 5px;
    padding-top: 50px;
    color: #fff;
    text-align: center;
}
footer h3 {
    font-family: 'Schoolbell';
    color: #ffcc33;
}

.footer-icons i{
margin-right: 15px;
padding-right: 15px;
align-items: center;
}

.footer-icons a:link {
    color: #fff !important;
}

.footer-icons a:active {
color: #ffcc33;
}
.footer-icons a:hover {
color: #7c16ca !important; 
}
.footer-icons a:visited {
color: #ffcc33;
}
.footer-bottom p{
padding-top: 20px;
font-size: smaller;
color: #646464;
}
.footer-nav li{
display: inline-block;
margin-right: 30px;
padding-right: 30px;
border-right: #fff 2px solid ;
align-items: center;
}
.footer-nav a:link{
    color: #fff !important;
    text-decoration: none;
}
.footer-nav a:active {
    color: #fff !important;
}
.footer-nav a:hover{
    color: #7c16ca !important; 
}
.footer-nav a:visited{
    color:#ffcc33
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
.section-1 {
      display: flex;
      flex-direction: column;
      background-color: #ffcc33;
      padding: 68px 15px 68px 15px;
      width: 100%;
      justify-content: center;
      color: black;
      font-family: 'Josefin Sans';
      text-align: center;
      font-size: 16px;
}

.section-1 h1 {
  font-family: 'Yeseva One';
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 36px;
}

    .cardcontainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .card{
        width: 350px;
        background-color: #e8e8e8;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        margin: 20px;
    }
    
    .card img{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .cardtext{
        padding: 12px;
    }
    
    .cardtext h3{
        font-size: 20px;
        font-family: 'Yeseva One';
        margin-bottom: 8px;
    }
    
    .cardtext p{
        color: #303030;
        font-size: 14px;
        font-family: 'Josefin Sans';
    }
    
    .cardtext .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffcc33;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    } 

    footer{
        width: 100%;
        background-color: #303030;
        padding: 5px;
        padding-top: 50px;
        color: #fff;
        text-align: center;
        margin-top: auto;
    }
    
    footer p{
    text-align: center;
    font-size: small;
    }
    
    footer h3 {
        font-family: 'Schoolbell';
        color: #ffcc33;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer li{
        font-size: 14px;
    }

}