

@font-face {
    font-family: 'Schoolbell';
    src: url(/assets/font/combo1/woff/Schoolbell-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family:'Yeseva One';
    src: url(/assets/font/combo1/woff/YesevaOne-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(/assets/font/combo1/woff/JosefinSans-Regular.woff);
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303030;
    width: 95px;
    height: 35px;
    color: #ffcc33;
    font-family: 'Josefin Sans';
}

button:hover{
    color: #ffffff;
    transition-duration: 0.3s;
    }

.form-box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffcc33;
}
form{
    background: #fff;
    width: 500px;
    padding: 30px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msgicon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.msgicon i{
    font-size: 40px;
}
.msgicon span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}

.input-field:first-child{
    text-align: center;
}
.input-field:last-child{
    font-size: 16px; 
}


.input-field, textarea, input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2ormpx solid #000;
    outline: none;
}
#input-field{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
#input-field i {
    font-size: 22px;
    margin-right: 15px;
}
#input-field textarea{
resize: none;
}

.send-btn{
    width: 100px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 50px;
}
.send-btn:hover{
    width: 100px;
    border: none;
    background: #68cf73;
    color: #000;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 50px;
    transition-duration: 0.3s;

}

.input-field span{
    font-family: 'Yeseva One';
    font-weight: bold;
    margin-bottom: 1px;
    padding-bottom: 10px;
}
.form-check{
    margin-top: 5px;
    font-size: 16px;
}
p{
    font-family: 'Josefin Sans';
    font-size: 16px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
 
form {
background: #fff;
width: 350px;
padding: 20px;
font-size: 16px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}